@mixin display-justify {
    display: flex;
    justify-content: center;
}

.titulo {
    background-image: linear-gradient(to right, #b9bcbe, rgb(197, 221, 224), rgb(4, 21, 22), rgb(144, 233, 239));
    margin-bottom: 15px;
    @include display-justify;
    .principales {
        color: white;
    }
}

.navbar {
    background-image: linear-gradient(to right, #b9bcbe, rgb(197, 221, 224), rgb(4, 21, 22), rgb(183, 235, 238), rgb(144, 233, 239));
    height: 110px;
    margin-bottom: 5px;
    color: white;
}

.search {
    padding: 5px;
    width: 120px;
    background-color: #eceaf3 !important;
}

.container {
    .row {
        display: flex;
        justify-content: center;
        /*Productos*/
        .card {
            align-items: center;
            margin: 20px;
            background-image: linear-gradient( #c1c8cb, rgb(227, 246, 248));
            h5 {
                padding-top: 30px;
                text-align: center;
                font-family: 'Raleway', sans-serif;
            }
            img {
                align-self: center;
                padding: 5px;
                width: 150px;
                height: 250px;
            }
        }
    }
}

.imgheigh {
    height: 100px;
}

.btnOtros {
    border-radius: 10%;
    border: none;
    background-color: #e6e6f1;
    height: 50px;
    width: 150px;
    &:hover {
        background-color: rgb(199, 199, 15);
    }
}

.btnCard {
    display: inline-block;
    padding: 8px 20px;
    margin-left: 15px;
    border: 1px solid rgb(64, 173, 219);
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%) scaleY(1) scaleX(1.25);
        top: 100%;
        width: 140%;
        height: 180%;
        background-color: rgba(0, 0, 0, 0.05);
        border-radius: 50%;
        display: block;
        transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }
    &::after {
        content: "";
        position: absolute;
        left: 55%;
        transform: translateX(-50%) scaleY(1) scaleX(1.45);
        top: 180%;
        width: 160%;
        height: 190%;
        background-color: #eef4c4;
        border-radius: 50%;
        display: block;
        transition: all 1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
        z-index: -1;
    }
    &:hover {
        color: #ffffff;
        border: 1px solid #99bbba;
    }
    &:hover::before {
        top: -35%;
        background-color: #83efe1;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
    &:hover::after {
        top: -45%;
        background-color: #d5ef10;
        transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    }
}

.piedepagina {
    background-color: #c5cacc;
    text-align: center;
    .container-fluid {
        .d-flex {
            display: flex;
            text-align: center;
            justify-content: space-between;
        }
    }
}

////// side bar /////
.side-bar-wrapper {
    position: fixed;
    top: 25px;
    width: 0vw;
    height: 95%;
    z-index: 2;
}

#side-bar {
    height: 98%;
    width: 0;
    position: sticky;
    top: 0;
    right: 0;
    left: 55vh;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: rgb(147, 221, 203);
    z-index: 1;
}

.dark #side-bar {
    background-color: hsl(200, 51%, 15%);
}

aside {
    position: fixed;
    top: 200px;
    width: 0vw;
    z-index: 2;
    right: 98%;
    .iconcarri {
        border-radius: 10%;
        height: 120px;
        width: 120px;
        display: flex;
        justify-content: center;
        text-align: center;
        background-image: linear-gradient( #c1c8cb, rgb(227, 246, 248));
        .carri {
            padding: 25px;
            position: fixed;
            color: #ad1010;
            font-size: 65px;
            cursor: pointer;
            text-align: center;
            display: block;
            &:hover {
                color: rgb(230, 238, 9);
            }
        }
    }
}

#close-cart {
    color: #021d1c;
    font-size: 75px;
    cursor: pointer;
    display: block;
    text-align: center;
}


/*#close-cart>i {}*/

.cart-container {
    display: flex;
    width: auto;
    height: 80%;
    display: block;
    transition: 0.3s;
}

.card-carrito {
    display: flex;
}

.fa-minus,
.fa-plus {
    font-size: 12px;
    cursor: pointer;
}

.cart-footer {
    text-align: center;
    width: 400px;
}

.dark {
    background-color: hsl(200, 65%, 8%);
    color: white;
}

.apoyo {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hparallx {
    color: black;
}

.pparallax {
    font-size: 2em;
    color: black;
}

#teAyudamos {
    height: 90vh;
    padding: 7rem 0;
    background: url(https://images.samsung.com/ar/smartphones/galaxy-s22/images/galaxy-s22_highlights_kv_img.jpg) center center / cover no-repeat fixed;
}